[submodule "verilog-library-barawn"]
	path = verilog-library-barawn
	url = https://github.com/barawn/verilog-library-barawn
[submodule "picoblaze_utils"]
	path = picoblaze_utils
	url = https://github.com/barawn/picoblaze_utils.git
[submodule "firmware-pueo-common"]
	path = firmware-pueo-common
	url = https://github.com/barawn/firmware-pueo-common
